html{
    width: 100%;
    height: 100%;
    background-color: #373737
}

h1, h3{
    color: #FCE694
}

#logoBtn{
    width: 20px;
    height: 20px;
    border: unset;
    cursor: pointer;
}

#logoBtn img{
    width: 20px;
    height: 20px;
    filter: invert(0.9);
}

button{
    background-color: unset;
    color: #F6FEAA;
    border: 1px solid #FCE694;
    border-radius: 0.2em;
    cursor: pointer;
}
#instructions{
    grid-column: 3/4;
    grid-row: 1/1; 
    width: 10vmin; 
    display: flex; 
    justify-content: flex-end; 
    flex-direction: column;
    align-items: center;
    text-align: left;
}
#instructions h4{
    color: #FCE694;
    text-decoration: underline;
}
#instructions div{
    color: #FCE694;
    width: inherit;
}